<div class="about-container">
  <!-- <div class="col-xs-12 col-md-offset-2 col-sm-offset-1 text-center">
    Quem somos?
  </div> -->
  <div class="container">
    <div class="about-text">
      <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a dolor eu nibh eleifend ullamcorper. 
      Nam vehicula erat a nisl dictum mollis. Aenean at ultrices elit. Sed porta ac ligula eget dignissim. 
      Vestibulum ut hendrerit est, vel fermentum turpis. Morbi efficitur ligula eget erat condimentum porttitor. 
      Donec scelerisque ex ut mauris feugiat commodo. Nam non elementum magna. Fusce ullamcorper sodales aliquet.</p>

      <p class="text-black">Donec sed arcu vel nisi venenatis varius. Curabitur nec lectus et diam venenatis aliquam id non lacus. 
      Praesent convallis risus vitae turpis ornare, sit amet egestas magna molestie. Integer rutrum nisl neque, 
      in aliquam magna auctor non. Donec eu euismod libero, sed varius magna. Vestibulum lacinia nunc eget lorem 
      bibendum imperdiet. Ut eleifend dolor sed purus auctor facilisis. Nullam rhoncus dictum vulputate. Quisque 
      egestas euismod arcu nec volutpat. Morbi lectus dui, luctus eu elementum nec, rutrum in elit. Donec 
      tincidunt vestibulum velit ut venenatis. In in ligula dapibus, auctor purus sed, congue lectus. Morbi 
      suscipit ex at lectus vulputate venenatis.</p>

      <p class="text-black">Duis tempor sem in augue varius venenatis nec imperdiet enim. Cras finibus in risus vel fringilla. 
      Praesent condimentum felis velit, non volutpat sem pretium nec. Ut vel fringilla ex, porta volutpat justo.
      Aliquam erat volutpat. Proin porttitor enim vel sapien imperdiet, at varius nibh fringilla. Etiam quis 
      sagittis mi. Sed nisl sem, porttitor sit amet mi sit amet, sodales euismod tellus. Nam luctus, neque ut 
      dictum sollicitudin, odio est auctor nisi, sed feugiat odio metus ut nulla. Cras vel sem nec purus laoreet 
      finibus. Suspendisse et iaculis dolor. Donec malesuada enim et sem maximus tincidunt.</p>

      <p class="text-white">Ut sollicitudin auctor placerat. Curabitur porttitor sit amet felis vitae pellentesque. Vivamus nec nibh 
      tincidunt, maximus lectus nec, iaculis nisl. Sed non convallis nibh. Praesent eget enim ante. Curabitur 
      metus lectus, scelerisque ut tortor eu, blandit semper metus. Proin libero massa, facilisis sed facilisis 
      venenatis, dictum egestas ante. Nam mollis nisl mauris. Class aptent taciti sociosqu ad litora torquent 
      per conubia nostra, per inceptos himenaeos. Cras ullamcorper, mauris non sagittis convallis, mi augue 
      fringilla elit, et tempor justo leo eget felis. Suspendisse interdum rhoncus libero, nec posuere velit 
      varius eget. Aliquam libero nulla, rutrum a dignissim vulputate, blandit a libero. Praesent pellentesque 
      mauris non lorem porta vulputate. Quisque a tempus magna, vitae bibendum orci. Donec porttitor risus in 
      nulla convallis posuere et ut eros.</p>

      <p class="text-white">Praesent accumsan massa vitae metus tempor consectetur. Pellentesque tempus lorem non turpis pretium 
      pharetra. Suspendisse auctor non ligula et dignissim. Aliquam commodo, nunc in mollis tempus, ante nisl 
      volutpat sapien, eu feugiat turpis lacus quis magna. In ac eleifend justo. Suspendisse sed mauris in elit 
      condimentum vulputate vitae pellentesque purus. Donec suscipit tortor a velit vulputate pulvinar vitae in 
      enim. Vivamus nec augue mattis, mollis justo sit amet, aliquam ipsum.</p>
    </div>
  </div>
</div>
<style>
  body { 
    background-image: url('../images/qm-somos.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .site-header {
    background-color: transparent !important;
    box-shadow: none;
  }
  .footer {
    background-color: transparent !important;
  }
</style>