<div class="dashboard-container">
    <div class="container">
        <div class="row content-area">
            <div class="col-md-8">
                <div class="feed-area">
                    <div class="feed-post">
                        <div class="feed-title">
                            <div class="row">
                                <div class="col-md-2">
                                    <img class="feed-title-image" src="../../../images/hands.png">
                                </div>
                                <div class="col-8" style="padding-top: 1em">
                                    <h1 class="feed-title-text">Instituição Exemplo 1</h1>
                                    <p class="feed-time-tracking">20 min</p>
                                </div>
                                <div class="col-2" style="padding-top: 2.5em">
                                    <i class="fa fa-ellipsis-h feed-more-info"></i>
                                </div>
                            </div>
                        </div>
                        <div class="feed-image">
                            <img src="../../../images/group-smile.jpg">
                        </div>
                        <div class="feed-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
                                eros dui, commodo in pulvinar quis, tristique sed ante. Pellentesque 
                                aliquam ipsum eget justo congue semper. Aenean sagittis volutpat dapibus. 
                                Maecenas fringilla nisi ac risus ultricies interdum. Aliquam vulputate 
                                non purus eu cursus. Nunc at sagittis arcu. Cras ultricies sagittis leo, 
                                ut condimentum orci dapibus elementum. Quisque malesuada volutpat mi, 
                                non accumsan enim convallis ut.
                            </p> 
                        </div>
                        <div class="feed-options">
                            <div class="row">
                                <div class="col-md-6 feed-option">
                                    <i class="fa fa-star"></i> Tenho interesse
                                </div>
                                <div class="col-md-6 feed-option">
                                    <i class="fa fa-check"></i> Inscrever-se
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-line"></div>
                    </div>
                    <div class="feed-post">
                        <div class="feed-title">
                            <div class="row">
                                <div class="col-md-2">
                                    <img class="feed-title-image" src="../../../images/hands.png">
                                </div>
                                <div class="col-8" style="padding-top: 1em">
                                    <h1 class="feed-title-text">Instituição Exemplo 2</h1>
                                    <p class="feed-time-tracking">30 min</p>
                                </div>
                                <div class="col-2" style="padding-top: 2.5em">
                                    <i class="fa fa-ellipsis-h feed-more-info"></i>
                                </div>
                            </div>
                        </div>
                        <div class="feed-image">
                            <img src="../../../images/group-smile.jpg">
                        </div>
                        <div class="feed-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
                                eros dui, commodo in pulvinar quis, tristique sed ante. Pellentesque 
                                aliquam ipsum eget justo congue semper. Aenean sagittis volutpat dapibus. 
                                Maecenas fringilla nisi ac risus ultricies interdum. Aliquam vulputate 
                                non purus eu cursus. Nunc at sagittis arcu. Cras ultricies sagittis leo, 
                                ut condimentum orci dapibus elementum. Quisque malesuada volutpat mi, 
                                non accumsan enim convallis ut.
                            </p> 
                        </div>
                        <div class="feed-options">
                            <div class="row">
                                <div class="col-md-6 feed-option">
                                    <i class="fa fa-star"></i> Tenho interesse
                                </div>
                                <div class="col-md-6 feed-option">
                                    <i class="fa fa-check"></i> Inscrever-se
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-line"></div>
                    </div>
                    <div class="feed-post">
                        <div class="feed-title">
                            <div class="row">
                                <div class="col-md-2">
                                    <img class="feed-title-image" src="../../../images/hands.png">
                                </div>
                                <div class="col-8" style="padding-top: 1em">
                                    <h1 class="feed-title-text">Instituição Exemplo 3</h1>
                                    <p class="feed-time-tracking">50 min</p>
                                </div>
                                <div class="col-2" style="padding-top: 2.5em">
                                    <i class="fa fa-ellipsis-h feed-more-info"></i>
                                </div>
                            </div>
                        </div>
                        <div class="feed-image">
                            <img src="../../../images/group-smile.jpg">
                        </div>
                        <div class="feed-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
                                eros dui, commodo in pulvinar quis, tristique sed ante. Pellentesque 
                                aliquam ipsum eget justo congue semper. Aenean sagittis volutpat dapibus. 
                                Maecenas fringilla nisi ac risus ultricies interdum. Aliquam vulputate 
                                non purus eu cursus. Nunc at sagittis arcu. Cras ultricies sagittis leo, 
                                ut condimentum orci dapibus elementum. Quisque malesuada volutpat mi, 
                                non accumsan enim convallis ut.
                            </p> 
                        </div>
                        <div class="feed-options">
                            <div class="row">
                                <div class="col-md-6 feed-option">
                                    <i class="fa fa-star"></i> Tenho interesse
                                </div>
                                <div class="col-md-6 feed-option">
                                    <i class="fa fa-check"></i> Inscrever-se
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-line"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-other-info">
                    <div class="content-header"> 
                        <h1 class="content-title">Próximos <i class="fa fa-ellipsis-h pull-right"></i></h1> 
                    </div>
                    <div class="content-middle text-center">
                        <p class="content-blue-text">Você tem um evento amanhã ás 9:30</p>
                        <p class="content-gray-text">PUCRS - PRÉDIO 30</p>
                        <a class="content-blue-text">Ver mais</a>
                    </div>
                </div>
                <div class="content-other-info">
                    <div class="content-header"> 
                        <h1 class="content-title">Ultimos eventos <i class="fa fa-ellipsis-h pull-right"></i></h1> 
                    </div>
                    <div class="content-middle text-center">
                        <p class="content-blue-text">[nome do evento] foi um sucesso!</p>
                        <p class="content-blue-text">200 voluntários</p>
                        <p class="content-blue-text">R$ 8,000 arrecadados</p>
                        <p class="content-gray-text">Você já pode conferir fotos e mais na página da instituição</p>
                        <a class="content-blue-text">Ver mais</a>
                    </div>
                </div>
                <div class="content-other-info">
                    <div class="content-header"> 
                        <h1 class="content-title">Apoio <i class="fa fa-ellipsis-h pull-right"></i></h1> 
                    </div>
                    <div class="content-middle text-center">
                        <div class="content-image">
                            <img src="../../../images/puc360.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>