<nav class="site-header navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="header-logo" src="../../../images/logo png.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row" style="width: 100%">
        <div class="col-md-9">
          <form class="round-form search-form">
              <input class="form-control" type="text" placeholder="Pesquisar...">
              <i class="fa fa-search"></i>
          </form>
        </div>
        <div class="col-md-3">
          <div class="navbar-nav navbar-icons pull-right">
              <a class="nav-item navbar-icon" href="/dashboard/notifications"><i class="fa fa-bell"></i></a>
              <a class="nav-item navbar-icon" href="/dashboard/chats"><i class="fa fa-comments"></i></a>
              <a class="nav-item navbar-icon" href="/dashboard/profile"><i class="fa fa-user"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>