<nav class="site-header navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="header-logo" src="../../../images/logo png.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <form class="form-inline search-form">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  
    <div class="navbar-nav navbar-links-area">
      <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link" href="/about">Sobre</a>
        <a class="nav-item nav-link" href="/institutions">Instituições</a>
        <a class="nav-item nav-link disabled" href="/contact">Contato</a>
        <!-- <button class="btn btn-outline-success btn-login"><span class="btn-login-txt">Login</span></button> -->
    </div>
  </div>
</nav>